.product-crud-card {
    margin-bottom: 30px;
}

.product-crud-card-top-container {
    padding: 16px 0;
    text-align: center;
    border: 1px solid #E1E1E1;
}

.product-crud-card-top-container img {
    width: 158px;
    height: 158px;
}

.product-crud-card-bottom-container {
    padding: 15px 20px 30px 20px;
}

.product-crud-card-bottom-container h6 {
    font-size: 18px;
    color: #263238;
}

.product-crud-card-categories-container {
    padding: 0 20px;
    display: flex;
}